@if(status() === true){
<p-tag value="Ativo" severity="success" [rounded]="true" />
} @else if(status() === false) {
<p-tag value="Inativo" severity="warn" [rounded]="true" />
} @else if (status() === 'Agendada') {
<p-tag value="Agendada" severity="warn" [rounded]="true" />
} @else if (status() === 'Atrasada') {
<p-tag value="Atrasada" severity="danger" [rounded]="true" />
} @else if (status() === 'Confirmada') {
<p-tag value="Confirmada" severity="success" [rounded]="true" />
} @else if (status() === 'Cancelada') {
<p-tag value="Cancelada" severity="secondary" [rounded]="true" />
} @else if (status() === 'Em Andamento') {
<p-tag value="Em andamento" severity="info" [rounded]="true" />
} @else if (status() === 'Finalizada') {
<p-tag value="Finalizada" severity="success" [rounded]="true" />
}